.slider{
  background-image: url('../images/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  margin-top: rem-calc(90);
  position: relative;
    .motto{
    @include center;
  color:#fff;
  font-weight:bold; 
      }

    h2{
        font-weight:300;
        font-size:20px;
    }
}