footer {
  padding: rem-calc(30 0);
  background: #fff;
  color: $gray-p2;
  font-size: rem-calc(13);
  font-weight: 300;
  a{
    color: inherit;
    @include transition-color;

    &:hover{
      color: $gray-p1;
    }
  }
  h3 {
    font-size: rem-calc(22);
    padding-bottom: rem-calc(15);
    color: $gray-p1;
  }
  .delivery{
    padding-right: rem-calc(40);
  }
.copyright{
  text-align: center;
  color: $gray-p3;
  padding-top: rem-calc(30);
  width: 100%;
}
}
