// =============================================================================
// Navigation styling
// =============================================================================
.main-navigation-wrapper {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 0;
  z-index: 999;
  .row{
    border-bottom: none !important;
  }
}

nav {
  @include clearfix;
  position: relative;
  .main-navigation {
    float: right;
    li {
      display: inline-block;
      > a {
        padding: rem-calc(40 30);
        font-weight: 600;
        display: block;
        color: $gray-p1;
        @include transition-all;
        border-bottom: 2px solid #fff;
        &:hover {
          border-color: $orange-p1;
          color: $orange-p1;
          background: $gray-p5;
        }
      }
    }

  }

  .shopping-cart {
    border-bottom: 2px solid $orange-p1;
    z-index: 5;
    @include clearfix;
    a.open-shopping-cart {
      position: relative;
      background: $orange-p1;
      color: #fff;
      padding-left: rem-calc(70);
      border-bottom: none;
      &:hover {
        background: $orange-p1;
        color: #fff;
        border-color: inherit;
      }
      i {
        display: inline-block;
        padding: rem-calc(0 15);
        font-size: 1.5em;
        position: absolute;
        @include center(false, true);
        left: rem-calc(15);
      }
    }
    &.is-open {
      @include vendor('box-shadow', '0px 0px 77px -10px rgba(0,0,0,0.5)');
      position: relative;
      z-index: 2;
      a.open-shopping-cart:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: $orange-p1;
        border-width: 10px;
        margin-left: -10px;
        z-index: 2;
      }
      .cart-details {
        display: block;
      }
    }

  }
  .cart-details {
    @include vendor('border-bottom-right-radius', '5px');
    @include vendor('border-bottom-left-radius', '5px');
    display: none;
    @include vendor('box-shadow', '0px 0px 75px -10px rgba(0,0,0,0.2)');
    z-index: -1;
    right: 0;
    position: absolute;
    width: rem-calc(250);
    background: #fff;
  }

  h4 {
    margin: rem-calc(15 10 10);
    font-weight: 600;
    width: 100%;
  }
}

.cart-product-list {
  border-top: 1px solid $gray-p4;
  padding: rem-calc(25 15 15);
  max-height: 300px;
  overflow-y: auto;
  li {
    position: relative;
    color: $gray-p2;
    border-bottom: 1px dotted $gray-p4;
    width: 100%;
    padding: rem-calc(10 0);
    .product-description {
      position: relative;
      top: rem-calc(10);
    }
    &:last-child {
      border-bottom: none;
    }
  }

}

.item-price {
  display: block;
  font-size: 12px;
  margin-top: rem-calc(15);
  color: $gray-p3;
  text-align: left;
}

.product-actions {
  background: $gray-p4;
  display: inline-block;
  @include vendor('border-radius', '16px');
  padding: rem-calc(3 5 4);
  margin-left: rem-calc(10);
  float: right;
  @include clearfix;
}

.current-quantity {
  position: relative;
  top: rem-calc(5);
  margin: rem-calc(0 10);
  font-weight: 800;
  display: inline-block;
  width: rem-calc(15);
  border: none;
  padding: 0;
  background: transparent;
}

// =============================================================================
// Logo styling
// =============================================================================

.logo {
  width: 100%;
  display: block;
  text-align: left;
  position: relative;
  top: rem-calc(20);
}

// =============================================================================
// Responsive menu opener
// =============================================================================

.open-menu {
  display: none;
}

.mobile-cart-open {
  display: none;
}

.cart-details.mobile {
  display: none;
}