.remodal {
  max-width: rem-calc(800);
  color: $gray-p2;

  p {
    padding-left: rem-calc(30);
    margin-bottom: rem-calc(50);
    line-height: 1.5em;
    text-align: justify;
  }
  h1 {
    text-align: left;
    margin-left: rem-calc(30);
    color: $gray-p1;
    font-size: 18px;
    padding-bottom: rem-calc(10);
    border-bottom: 1px solid $gray-p4;
    margin-bottom: rem-calc(10);
  }

  .btn {
    cursor: pointer;
  }
}

.modal-image-wrapper {
  text-align: center;
  padding-top: rem-calc(35);
}

.quantity {
  @extend .btn;
  width: rem-calc(50);
  background: $gray-p4;
  color: $gray-p1;
}

.quantity-more {
  margin-right: rem-calc(15);
}

.quantity-more, .quantity-less {
  cursor: pointer;
  display: inline-block;
  padding: rem-calc(5);
  color: $orange-p1;
  @include circle
}

.modal-add-to-cart {
  text-align: left;
  padding-left: rem-calc(30);
}

.fake-thumbnails {
  opacity: 0.8;
  margin-top: rem-calc(30);
  display: inline-block;
}

.steps-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: rem-calc(0 60);
}

.step:first-child {
  min-width: 0;
  width: 0;
  flex-grow: 0;
}

.step {
  height: 3px;
  background: $gray-p4;
  flex-grow: 1;
  min-width: 25%;
  position: relative;
  margin: rem-calc(50 0 0);
  &:after {
    @include circle;
    @include center(false, true);
    content: '';
    right: -1px;
    width: rem-calc(20);
    height: rem-calc(20);
    background: $gray-p4;
    z-index: 2;
  }

  &:before {
    position: absolute;
    content: attr(data-step-name);
    color: $gray-p3;
    top: rem-calc(-30);
    right: 0;
    transform: translate(35%, 0);
  }

  &.active {
    background: $green-p1;
    &:after {
      background: $green-p1;
    }
  }
}

.checkout-slider {
  color: $gray-p2;
  margin: rem-calc(50 0 0);

  label {
    margin-left: rem-calc(10);
    display: block;
    color: $gray-p2;
    margin-bottom: rem-calc(10);
    margin-top: rem-calc(30);
  }

  .owl-item {
    padding: 0;
    @include clearfix;
  }

  .owl-stage {
    @include clearfix;
  }

  table {

    width: 100%;
    text-align: center;
    th {
      background: $gray-p4;
      padding: rem-calc(15 10);
      color: $gray-p1;
    }
    td {
      color: $gray-p2;
      padding: rem-calc(15 10);
    }
    tr {
      &:nth-child(even) {
        background: $gray-p5;
      }
    }
  }
}

[data-step="1"] {
  max-height: 500px;
  overflow-y: auto;
}

.checkout-summary {
  text-align: left;
  th:last-child {
    text-align: center;
  }
}

.checkout-cart-actions {
  margin-top: rem-calc(50);
  @include clearfix;
  .go-to-next-step {
    float: right;
    margin-right: 2px;
  }
  .go-step-back, .go-step-back-to-shopping {
    float: left;
  }
}

.separator {
  height: 1px;
  width: 100%;
  margin: rem-calc(30 0 0);
  background: $gray-p4;
}

.item-wrapper {
  width: 98%;
  margin-right: 2px;
}

.payment {
  padding-right: 2px;
}

#checkout-modal {
  input, select {
    @include vendor('border-radius', '5px')
  }
}

.confirmation {
  color: $gray-p2;
  h3 {
    font-size: rem-calc(18);
    margin-bottom: rem-calc(15);
  }
  .order-detail {
    position: relative;
    min-height: rem-calc(220);
    border: 1px solid $gray-p4;
    padding: rem-calc(15);
    ul {
      margin-top: rem-calc(20);
    }
    li {
      margin-bottom: rem-calc(5);
    }
    &:last-child {
      margin-top: rem-calc(20);
    }
  }

  .total-order-price, h4 {
    padding: rem-calc(10 0);
    background: $gray-p5;
    font-weight: bold;
    text-align: center;
  }
  .total-order-price {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
  }

  .qt {
    display: inline-block;
    padding-right: rem-calc(5);
  }
}

.privacy {
  text-align: center;
  width: 100%;
  display: block;
  margin: rem-calc(20);
}



.success-modal{
        text-align:center;
        img{
            display:inline-block;
            margin: rem-calc(20 0);
            padding: 0 40%;
            width: 100%;
            height: auto;
        }
    h1{
        font-size:1.5em;
        color: $green-p1;
        text-align:center;
    }
    h3{
        margin-top: rem-calc(20);
        padding-left: rem-calc(30);
    }
} 

.iziToast-wrapper{
    z-index: 99999 !important;   
}

.iziToast>.iziToast-body > p{
    color: #fff !important;
}

.required-field{
    color:$red-p1;
    font-weight:bold;
}