.products-wrapper {

  > div:nth-child(1) {
    padding-left: 0 !important;
  }
  margin: rem-calc(30 0 0);
  &.row .container > .row {
    margin-bottom: rem-calc(30);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.modal-image-wrapper img{
    width:100%;
    height: auto;
}

.product-image img{
    max-height:380px;
}
.product-image{
    min-height: 422px;
}

.product {
  @include vendor('box-shadow', '0px 0px 25px -10px rgba(0,0,0,0.2)');
  margin: 0 auto;
  @include transition-all;
  background: #fff;
  padding: rem-calc(25);
  margin-bottom: rem-calc(30);
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: rem-calc(0 35);
  }
  //TODO should I add it should I remove
  //&:hover {
  //  background: #fff;
  //  @include vendor('box-shadow', '0px 0px 25px -10px rgba(0,0,0,0.2)');
  //}
  .single-product-actions {
    margin-top: rem-calc(25);
    text-align: center;
    @include clearfix;
    .btn {
      padding: rem-calc(10 15);
    }
    .product-actions {
      @include vendor('border-radius', '30px');
      position: relative;
      top: rem-calc(-5);
    }

    .modal-add-to-cart {
      float: left;
    }
  }
  h2 {
    width: 100%;
    margin: rem-calc(15 0 -10 0);
    background: $gray-p5;
    padding: rem-calc(3 0);
    text-align: center;
    color: $gray-p2;
    font-weight: 300;
    font-size: rem-calc(18);
  }

  .more-details {
    float: left;
  }

  .price {
    padding: rem-calc(10);
    display: inline-block;
    background: #fff;
    @include vendor('border-radius', '30px');
    font-weight: 800;
    color: $orange-p1;
    margin-bottom: 1px;
    float: right;
    font-size: rem-calc(20);
  }
}

.product-image {
  position: relative;
  padding: rem-calc(20 0);
  &:after {

    @include transition-all;
    content: 'See more details';
    @include center;
    opacity: 0;
    font-weight: 300;
    color: #fff;
    font-size: rem-calc(20);
    border: 2px solid #fff;
    @include vendor('border-radius', '30px');
    padding: rem-calc(10);
    display: inline-block;
    width: rem-calc(200);
    text-align: center;
    cursor: pointer;
  }

  &:before {
    @include transition-all;
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    background: $gray-p1;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
  }
}

.product-image:hover {
  &:after, &:before {
    opacity: 0.8;
  }
}

.size-guide {
  h1 {
    text-align: center;
    margin: rem-calc(30);
    font-size: rem-calc(18);
    color: $gray-p2;
  }
}

.guide {
  left: rem-calc(100);
  height: rem-calc(200);
  margin: rem-calc(30 20);
  width: rem-calc(150);
  background: $gray-p4;
  position: relative;
  padding: 15px;
  opacity: 0.8;
  &:after {
    @include center(true, false);
    top: rem-calc(-15);
    width: 90%;
    height: 90%;
    content: 'Width: 88mm Height: 99mm';
    z-index: -1;
    background: $gray-p1;
    color: #fff;
    opacity: 0.8;
    padding: rem-calc(5);
  }
}

.size-guide-text {
  margin-top: rem-calc(70);
  padding: rem-calc(10 120 10 0);
}
