.product-search-wrapper {
  background: #fff;
  padding: rem-calc(50 0);
}

.product-search {
  h1 {
    width: 100%;
    text-align: center;
    color: $gray-p2;
    font-weight: 300;
    font-size: rem-calc(20);
  }
  h2 {
    font-size: rem-calc(16);
    padding: rem-calc(10 0);
    color: $gray-p3;
    font-weight: 300;
    width: 100%;
    text-align: center;
  }
}

.search-tool {
  margin: rem-calc(0);
  text-align: center;
  position: relative;

  input {
    max-width: rem-calc(300);
    width: 100%;
    position: relative;
    z-index: 2;
    background: #fff;
  }

  .clear-filter[disabled] {
    background: $gray-p4;
  }
}

.ui-autocomplete {
  position: absolute;
  background: $gray-p5;
  padding-top: rem-calc(30);
  padding-bottom: 150px;
  display: block;
  top: rem-calc(-30) !important;
  bottom: 0;
  z-index: 0;
}

.ui-menu-item {
  text-align: left;
  background: $gray-p5;
  padding: rem-calc(10 15);
  cursor: pointer;
  @include transition-all;
  position: relative;
  &:hover {
    background: $gray-p4;
    color: $orange-p1;
  }
  &:last-child:after {
    content: '';
    position: absolute;
    bottom: rem-calc(-15);
    background: $gray-p5;
    border-bottom: 1px solid $gray-p4;
    left: 0;
    width: 100%;
    @include vendor('border-bottom-left-radius', '15px');
    @include vendor('border-bottom-right-radius', '15px');
    height: rem-calc(15);
  }
}

.search-tool-list {
  position: relative;
  width: 100%;
  display: block;
}

.clearfix {
  display: block;
  position: relative;
  width: 1px;
  height: 1px;
}