
.recommendations-container {
  background: $gray-p5;
  h1 {
    width: 100%;
    text-align: center;
    color: $gray-p2;
    font-weight: 300;
    font-size: rem-calc(20);
    padding-top: rem-calc(30);
  }
  margin-bottom: rem-calc(30);
}

.owl-item {
  width: 100%;
  height: auto;
  display: inline-block;
  float: left;
  position: relative;
  color: #fff;
  padding: rem-calc(30 210);
}

.recommendations-slider, .checkout-slider {
  width: 100%;
  overflow: hidden;
  color: #fff;
  text-align: left;

  strong{
    display: block;
    padding-bottom: rem-calc(5);
  }
}

.company-logo {
  position: relative;
  float: left;
  @include clearfix;

  margin-right: rem-calc(30);
  padding-right: rem-calc(30);
  border-right: 1px solid $gray-p4;
  padding-bottom: rem-calc(10);
  img {
    opacity: 0.5;
    display: inline-block;
    margin-top: rem-calc(15);
    max-width: rem-calc(150);
    height: auto;
  }
}

.company-title {
  font-size: rem-calc(18);
  font-weight: 300;
  text-transform: uppercase;
}

.owl-nav {
  display: none;
}

blockquote {
  text-align: justify;
  padding: rem-calc(5 0 15);
  color: $gray-p3;
}

