.open-menu {
  position: absolute;
  right: rem-calc(30);
  top: rem-calc(30);
  display: block;
  font-size: rem-calc(30);
  cursor: pointer;
}

.main-navigation {
  position: absolute;
  z-index: 9999;
  background: #fff;
  left: 0;
  top: rem-calc(80);
  width: 100%;
  li {
    display: block !important;
    float: none;
    width: 100%;
    text-align: center;
  }

  .shopping-cart {
    display: none !important;
  }
}

.main-navigation {
  display: none;
}

.logo {
  height: rem-calc(80);
}

nav {
  position: static;
}

.mobile-cart-open {
  cursor: pointer;
  display: block;
  position: absolute;
  right: rem-calc(100);
  top: rem-calc(18);
  i {
    display: inline-block;
    margin-right: rem-calc(15);
    font-size: rem-calc(30);
    position: relative;
    top: rem-calc(10);
  }
  .amount-of-products {
    @include circle;
    width: rem-calc(30);
    height: rem-calc(30);
    background: $orange-p1;
    color: #fff;
    display: inline-block;
    line-height: rem-calc(30);
    text-align: center;
  }
}

.cart-details.mobile {
  position: relative;
  margin-bottom: rem-calc(30);
}