footer {
  .row > div {
    margin-bottom: rem-calc(30);
  }
}

.modal-image-wrapper {
  img {
    display: block;
    margin: 0 auto;
  }
  .fake-thumbnails{
    margin-top: rem-calc(30);
  }
}

.modal-product-content{
  h1{
    margin-left: 0;
  }
  .modal-add-to-cart, p{
    padding: 0;
  }
}

.guide{
  margin: 0  auto!important;
  left: initial;
}

.size-guide-text{
  padding: 0;
  margin: rem-calc(30 15);
}

.main-navigation-wrapper > div > .container > .row > div{
  padding-left: 0;
}

.space-div{
    margin-top: rem-calc(20);
}