.recommendations-container {
  display: none;
}

.remodal-wrapper {
  padding: 0;
}

.remodal {
  margin-bottom: 0;
}

.logo {
  img {
    width: 35%;
    height: auto;
  }
}

.fake-thumbnails{
  width: 95%;
  height: auto;
  display: inline-block;
  margin-bottom: rem-calc(15) !important;
}

.step:before{
    @include vendor('transform-origin', 'left');
    @include vendor('transform', 'translate(90%,11px) rotate(-45deg)');
    font-size: 12px;
    } 