// =============================================================================
// Circle mixin
// =============================================================================

@mixin circle() {
  @include vendor('border-radius', '50%')
}

// =============================================================================
// Custom border-radius mixin
// =============================================================================

@mixin radius($radius){
  @include vendor('border-radius', $radius)
}

// =============================================================================
// Centering element mixin
// =============================================================================

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);

  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}


// =============================================================================
// Font Face mixin
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Clear fix mixin
// =============================================================================


@mixin clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

// =============================================================================
// Color transition mixin
// =============================================================================


@mixin transition-color {
  @include vendor('transition', 'color #{$transition_duration} ease-in-out');
}

// =============================================================================
// All properties transition mixin
// =============================================================================


@mixin transition-all {
  @include vendor('transition', 'all #{$transition_duration} ease-in-out');
}