
// =============================================================================
// Brake points configuration
// =============================================================================

@include skel-breakpoints((
        xlarge: '(max-width: 1680px)',
        large: '(max-width: 1200px)',
        medium: '(max-width: 980px)',
        small: '(max-width: 736px)',
        xsmall: '(max-width: 480px)'
));

// =============================================================================
// Layout configuration
// =============================================================================

@include skel-layout((
        reset: 'full',
        boxModel: 'border',
        containers: 1200px,
        grid: (gutters: 30px),
        breakpoints: (
                large:(
                        containers: 90%
                ),
                medium: (
                        containers: 90%
                ),
                small: (
                        containers: (95%, true)
                ),
                xsmall: (
                        containers: (98%, true)
                )
        )
));
