// =============================================================================
// Rem base
// =============================================================================

$rem-base : 15px;

// =============================================================================
// Transition duration
// =============================================================================

$transition_duration : 0.3s;


// =============================================================================
// Fonts
// =============================================================================

$font : HKGrotesk, sans-serif;
$font-size : $rem-base;

// =============================================================================
// Color palette
// =============================================================================

$gray-p1 : #25272f;
$gray-p2 : #838794;
$gray-p3 : #a7abb8;
$gray-p4 : #e4ecf4;
$gray-p5 : #f9fafc;
$gray-p69 : #f4f6f9;

$green-p1 : #28d77c;
$red-p1: #f43454;
$yellow-p1 : #ffbb44;
$orange-p1 : #fa6e41;
$orange-p2 : #FA5C29;