// =============================================================================
// Buttons styling and states
// =============================================================================

.btn {
  @include vendor('appearance', 'none');
  outline: none;
  border: none;
  background: $orange-p1;
  padding: rem-calc(15 20);
  display: inline-block;
  color: #fff;
  position: relative;
  @include transition-all;
  @include vendor('border-radius', '30px');
  &.fit {
    padding: em-calc(15 80);
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &.gray {
    background: $gray-p5;
    border: 1px solid $gray-p4;
    color: $gray-p3;
  }

  &.green{
    background: $green-p1;
    border: 1px solid $green-p1;
    color: #fff;
  }

  &.red{
    background: $red-p1;
    border: 1px solid $red-p1;
    color: #fff;
  }

  &.add-quantity, &.remove-quantity {
    @include vendor('border-radius', '10px');
    @include transition-all;
    cursor: pointer;
    margin-right: rem-calc(8);
    padding: rem-calc(10);
    > i {
      width: 100%;
      height: 100%;
      position: relative;
      &:before {
        line-height: normal;
        @include center;
      }

    }
    &:hover {
      background: $orange-p2;
    }
  }
  &.remove-quantity {
    margin-right: 0;
  }
  &.checkout-button {
    @include vendor('border-radius', '0');
    @include vendor('border-bottom-right-radius', '5px');
    @include vendor('border-bottom-left-radius', '5px');
    padding-top:1.1em; 
    bottom:0;
    left:0;
    cursor: pointer;
    background: $orange-p1;
    &:hover {
      background: $orange-p2;
      > i {
        right: rem-calc(85);
      }
    }
    > i {
      @include center(false, true);
      right: rem-calc(90);
      @include transition-all;
    }
  }

  &.checkout-full-price {
    @include vendor('border-radius', '0');
    background: $gray-p4;
    color: $gray-p1;
    margin-bottom: rem-calc(40);
    padding: rem-calc(10);
    position: static;
    text-align: center;
    display: inline-block;
  }
}

.clear-filter {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  margin-left: rem-calc(-55);
  z-index: 50;
  margin-top: 2px;
  background: none;
  color: $gray-p3;
  @include transition-color;
  &:hover {
    color: $orange-p1;
  }
}

.clear-filter[disabled] {
  display: none;
}

.add-to-cart-req{
 cursor:pointer;
}

#confirm-pay{
    float: right;
}