// =============================================================================
// Forms styling
// =============================================================================

*:focus {
  outline: none;
  box-shadow: none;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  @include vendor('appearance', 'none');
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid $gray-p4;
  color: $gray-p3;
  display: inline-block;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  width: 100%;
  padding: rem-calc(15 20);
  line-height: 1em;
  outline: none;
  position: relative;
  outline: 0;
  @include transition-all;

  &[disabled] {
    background: $gray-p5;
  }
  &:focus {
    border-color: $orange-p1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}