// =============================================================================
// All base typography styling
// =============================================================================

body, input, select, textarea {
  color: $gray-p1;
  font-family: $font;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1em;

}

a {
  color: $orange-p1;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

strong, b {
  //color: _palette(fg-bold);
  //font-weight: _font(weight-bold);
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  //color: _palette(fg-heading);
  //font-weight: _font(weight-bold);
  line-height: 1em;

  a {
    color: inherit;
    text-decoration: none;
  }

}

h1 {
  font-size: rem-calc(25);
  //margin: 0 0 4*$margin-p2;
}

h2 {

  //TODO STYLE THIS
  font-size: 1.75em;
  line-height: 1.5em;
}

h3 {
  font-size: 15px;
  line-height: 1em;
  //margin: 0 0 2*$margin-p1;
}

h4 {
  //TODO STYLE THIS
  line-height: 1.5em;
}

h5 {
  //TODO STYLE THIS
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  //TODO STYLE THIS
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  //border-left: solid (_size(border-width) * 4) _palette(border);
  //font-style: italic;
  //margin: 0 0 _size(element-margin) 0;
  //padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
}

// =============================================================================
// Typography alignment and font weight helpers
// =============================================================================

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.text-light {
  font-weight: 300;
}