﻿
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
        <link rel="stylesheet" href="/bower_components/remodal/dist/remodal.css">
        <link rel="stylesheet" href="/bower_components/remodal/dist/remodal-default-theme.css">
        <link rel="stylesheet" href="/bower_components/izitoast/dist/css/iziToast.min.css">
        <link rel="stylesheet" href="/Content/css/main.css">
    </head>
    <body>
        @Html.Partial("menu")
        @RenderBody()
        @Html.Partial("footer")
    </body>
</html>
