<footer class="row" id="contact">
    <div class="12u">
        <div class="container">
            <div class="row">
                <div class="3u 6u(medium) 12u(small)">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Policy privacy</a></li>
                        <li><a href="#">Faq</a></li>
                    </ul>
                </div>
                <div class="3u 6u(medium) 12u(small)">
                    <h3>Delivery</h3>
                    <p class="delivery">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <br><br>
                        Donec vehicula elementum facilisis.
                        <br><br>
                        Fusce nisi tellus, volutpat id mauris non, luctus facilisis lacus.
                    </p>
                </div>
                <div class="3u 6u(medium) 12u(small)">
                    <h3>Products</h3>
                    <ul>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Policy privacy</a></li>
                        <li><a href="#">Faq</a></li>
                    </ul>
                </div>
                <div class="3u 6u(medium) 12u(small)">
                    <h3>Anything else</h3>
                    <ul>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Policy privacy</a></li>
                        <li><a href="#">Faq</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        Copyright 2016 &copy; Arcane Tinmen
    </div>
</footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/bower_components/remodal/dist/remodal.js"></script>
<script src="/bower_components/izitoast/dist/js/iziToast.min.js"></script>
<script src="/Content/js/jquery.validate.js"></script>
<script src="/Content/js/scripts.js"></script>
<script>
                 @{
                     int counter1 = 0;
                 }
    $(document).ready(function () {
        var games = [
   
               @foreach (var game in @ViewBag.Games){
                   counter1++;
                       <text>
                   @{int counter2 = 1;}
                   {
                   value: "@game.Title",
                       sleeve_id: [
                           @foreach (var product in game.Products)
                       {
                       <text>
                           "sleeve-@product.Id"@(counter2<game.Products.Count?",":"")
                      
                       </text>
                           counter2++;
                       }
                       ]
                   },
                   </text>
                       }
        ];
        product_search(games);
    })

</script>