﻿<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Board games</title>
    <meta name="description" content="Project">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/bower_components/remodal/dist/remodal.css">
    <link rel="stylesheet" href="/bower_components/remodal/dist/remodal-default-theme.css">
    <link rel="stylesheet" href="/Content/css/main.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
