<div class="row main-navigation-wrapper">
    <div class="12u">
        <div class="container">
            <div class="row">
                <div class="4u 12u(large) 12u(small)">
                    <a href="#" class="logo"><img src="/Content/images/logo.jpg" alt="logo"></a>
                </div>
                <div class="8u 12u(large) 12u(small)">
                    <nav>
                        <ul class="main-navigation">
                            <li><a href="#top">Home</a></li>
                            <li><a href="#products">Products</a></li>
                            <li><a href="#size-guide">Size guide</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="shopping-cart">
                                <a href="#" class="open-shopping-cart"><i class="dripicons-cart"></i><span
                                        class="amount-of-products">
                                    @{
                                        int counter = 0;

                                        foreach (var item in @ViewBag.Cart.Lines)
                                        {
                                            counter = counter + @item.Quantity;
                                        }
                                        @counter
                                    }
                                   </span> <span
                                        class="text-light">products</span></a>
                                <div class="cart-details">
                                    <h4>Products in your cart</h4>
                                    <ul class="cart-product-list">
@foreach (var item in @ViewBag.Cart.Lines)
{
    <li><span data-product-id="@item.Product.Id" class="product-description">@item.Product.Title</span><span class="product-actions"><button class="btn add-quantity"><i class="dripicons-plus"></i></button><button class="btn remove-quantity"><i class="dripicons-minus"></i></button><input type="number" class="current-quantity" value="@item.Quantity"></span><span class="item-price">@item.Price dkk</span></li>
}                                   
                                        @if(counter == 0)
                                        {
                                            <li>Your cart is empty</li>
                                        }
                                    </ul>
                                    <div class="fit checkout-full-price btn">Total: <span
                                            class="total-price">@ViewBag.Cart.TotalPrice dkk</span></div>
                                    <button data-remodal-target="checkout-modal" class="fit checkout-button btn">Checkout <i
                                            class="dripicons-arrow-thin-right"></i></button>
                                </div>
                            </li>

                        </ul>
                    </nav>
                    <div class="mobile-cart-open"><i class="dripicons-cart"></i> <span class="amount-of-products">
                                                                                     @counter
                        </span></div>
                    <div class="cart-details mobile">
                        <h4>Products in your cart</h4>
                        <ul class="cart-product-list">
                            
                            @foreach (var item in @ViewBag.Cart.Lines)
                            {
                                <li><span data-product-id="@item.Product.Id" class="product-description">@item.Product.Title</span><span class="product-actions"><button class="btn add-quantity"><i class="dripicons-plus"></i></button><button class="btn remove-quantity"><i class="dripicons-minus"></i></button><input type="number" class="current-quantity" value="@item.Quantity"></span><span class="item-price">@item.Price dkk</span></li>
                            }
                            @if (counter == 0)
                            {
                                <li>Your cart is empty</li>
                            }
                        </ul>
                        <div class="fit checkout-full-price btn">Total: <span
                                class="total-price">@ViewBag.Cart.TotalPrice dkk</span></div>
                        <button data-remodal-target="checkout-modal" class="fit checkout-button btn">Checkout <i
                                class="dripicons-arrow-thin-right"></i></button>
                    </div>
                    <div class="open-menu">
                        <i class="dripicons-menu"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
