

@foreach (var product in @ViewBag.Products)
{
    <div data-remodal-id="product-@product.Id">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div class="row">
            <div class="6u 12u(medium)">
                <div class="modal-image-wrapper">
                    <img src="@product.ImageUrl" alt="@product.Title">
                    <img class="fake-thumbnails" src="/Content/images/fake_thumbnails.jpg" alt="product1">
                </div>
            </div>
            <div class="6u 12u(medium)">
                <div class="modal-product-content">
                    <h1>@product.Title</h1>
                    <p>
                       @product.Description
                    </p>
                    <div class="product" data-product-id="@product.Id">
                        <div class="modal-add-to-cart">
                            <span class="quantity-less"><i class="dripicons-minus"></i></span>
                            <input type="number" class="quantity" value="1" readonly>
                            <span class="quantity-more"><i class="dripicons-plus"></i></span>
                            <div class="btn add-to-cart add-to-cart-req">Add to cart</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




<div id="checkout-modal" data-remodal-id="checkout-modal">
    <div class="row">
        <div class="12u">
            <div class="steps-wrapper">
                <div class="step" data-step-name="Checkout"></div>
                <div class="step" data-step-name="Shipping"></div>
                <div class="step" data-step-name="Payment"></div>
                <div class="step" data-step-name="Confirmation"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <div class="checkout-slider owl-carousel">
                <!--                step1-->
                <div class="item">
                    <div class="item-wrapper">
                        <table>
                            <tr>
                                <th>#</th>
                                <th>Product name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            <tr class="checkout-summary">
                                <th colspan="3">Total price:</th>
                                <th></th>
                            </tr>
                        </table>
                        <div class="checkout-cart-actions">
                            <button class="btn gray go-step-back-to-shopping red">Cancel</button>
                            <button data-step="1" class="btn go-to-next-step">Next step</button>
                        </div>
                    </div>
                </div>
                <!--                step2-->
                <div class="item">
                    <div class="item-wrapper">
                        <form action="" method="get" id="delivery">
                            <div class="row delivery-form">

                                <div class="6u 12u(medium) input-wrapper">
                                    <label for="name">Name<span class="required-field">*</span></label>
                                    <input type="text" minlength="2" required id="name" name="name"
                                           placeholder="Your name">
                                </div>
                                <div class="6u 12u(medium) input-wrapper">
                                    <label for="surname">Surname<span class="required-field">*</span></label>
                                    <input type="text" minlength="2" required id="surname" name="surname"
                                           placeholder="Your lastname">
                                </div>
                                <div class="6u 12u(medium) input-wrapper">
                                    <label for="user_email">Email address<span class="required-field">*</span></label>
                                    <input type="email" id="user_email" name="user_email" placeholder="Your email">
                                </div>

                                <div class="6u 12u(medium) input-wrapper">
                                    <label for="phone">Phone number<span class="required-field">*</span></label>
                                    <input type="text" id="phone" minlength="2" required name="phone"
                                           placeholder="+45 123 123 2">
                                </div>
                                <div class="12u">
                                    <div class="separator"></div>
                                </div>
                                <div class="4u 12u(medium) input-wrapper">
                                    <label for="street">Street<span class="required-field">*</span></label>
                                    <input type="text" id="street" minlength="2" required name="street"
                                           placeholder="Your address">
                                </div>
                                <div class="4u 12u(medium) input-wrapper">
                                    <label for="city">City<span class="required-field">*</span></label>
                                    <input type="text" id="city" minlength="2" required name="city"
                                           placeholder="Your city">
                                </div>
                                <div class="4u 12u(medium) input-wrapper">
                                    <label for="zip">Zip code</label>
                                    <input type="text" id="zip" name="zip"
                                           placeholder="Zip code">
                                </div>
                                <div class="6u$ 12u(medium) input-wrapper">
                                    <label for="country">Country<span class="required-field">*</span></label>
                                    <select name="country" required id="country">
                                        <option value="dk">Denmark</option>
                                        <option value="pl">Poland</option>
                                        <option value="uk">United Kingdom</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="checkout-cart-actions">
                            <div class="row">
                                <div class="6u">
                                    <button class="btn gray go-step-back">Previous step</button>
                                </div>
                                <div class="6u">
                                    <button data-step="2" class="btn go-to-next-step">Next step</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                step3-->
                <div class="item">
                    <div class="item-wrapper">
                        <form action="" id="payment">
                            <div class="row payment">
                                <div class="8u 12u(medium) input-wrapper">
                                    <label for="card_number">Card number<span class="required-field">*</span></label>
                                <input required type="text" name="card_number" id="card_number" placeholder="Credit card number"></div>
                                <div class="4u 12u(medium) input-wrapper">
                                    <label for="card">Card type<span class="required-field">*</span></label>
                                    <select name="card" id="card">
                                        <option value="visa">Visa</option>
                                        <option value="mastercard">MasterCard</option>
                                    </select>
                                </div>
                                <div class="12u 12u(medium) input-wrapper">
                                    <label for="surname">Card holder<span class="required-field">*</span></label>
                                    <input type="text" required id="card-owner" name="card-owner" placeholder="Card holder">
                                </div>
                                <div class="6u 12u(medium) input-wrapper">
                                    <label for="surname">Expires<span class="required-field">*</span></label>
                                    <input type="text" required id="expire-date" name="expire-date"
                                           placeholder="Expires">
                                </div>
                                <div class="6u 12u(medium) input-wrapper">
                                    <label for="surname">CCV<span class="required-field">*</span></label>
                                    <input type="text" required id="ccv" name="ccv" placeholder="CCV">
                                </div>

                            </div>
                        </form>
                        <div class="checkout-cart-actions">
                            <div class="row">
                                <div class="6u">
                                    <button class="btn gray go-step-back">Previous step</button>
                                </div>
                                <div class="6u">
                                    <button data-step="3" class="btn go-to-next-step summ-up">Next step</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                step 4-->

                <div class="item">
                    <div class="item-wrapper">
                        <div class="row confirmation">
                            <div class="12u"><h3>Order details</h3></div>
                            <div class="6u 12u(medium)">

                                <div class="order-products order-detail">
                                    <h4>Order products</h4>
                                    <ul>
                                    </ul>
                                    <div class="total-order-price">Total price: <span> </span></div>
                                </div>
                                <div class="delivery-details order-detail">
                                    <h4>Delivery details</h4>
                                    <ul>
                                    </ul>
                                </div>
                            </div>


                            <div class="6u 12u(medium) space-div">
                                <div class="payment-details order-detail">
                                    <h4>Payment details</h4>
                                    <ul>
                                      
                                    </ul>
                                </div>
                                <div class="contact-details order-detail">
                                    <h4>Contact details</h4>
                                    <ul>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="12u">
                                <div class="privacy">
                                    <input id="privacy" type="checkbox"><label style="display:inline;" for="privacy"> I confirm that I have read and understood terms of use and
<a href="#">Privacy policy</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-cart-actions">
                            <div class="row">
                                <div class="6u">
                                    <button class="btn gray go-step-back">Previous step</button>
                                </div>
                                <div class="6u">
                                    <button class="btn green" id="confirm-pay">Confirm and Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-remodal-id="success" class="success-modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="row">
        <div class="12u">
            <img src="~/Content/images/success-image.png" alt="success" />
            <h1>Your order has been placed</h1>
            <h3>You will receive your invoice shortly</h3>
        </div>
    </div>
</div>