<div class="row product-search-wrapper" id="products">
    <div class="12u">
        <div class="container">
            <div class="row">
                <div class="12u product-search">
                    <h1>Find a prefect sleeve for your game</h1>
                    <h2>Use our tool to filter our products for sleeves for your game</h2>

                    <div class="search-tool">
                        <input type="text" id="product-search" placeholder="Name of the game">
                        <button class="btn clear-filter" disabled><i class="dripicons-cross"></i></button>
                        <div class="search-tool-list">
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
