<div class="row products-wrapper">
    <div class="12u">
        <div class="container">
            <div class="row">
      
                @foreach (var product in @ViewBag.Products)
                {
                    <div class="4u 6u(medium) 12u(small)">
                        <div class="product" data-product-id="@product.Id" data-size="sleeve-@product.Id" data-modal-ref="product-@product.Id">
                            <div class="product-image">
                                <img src="@product.ImageUrl" alt="product1">
                            </div>
                            <h2>@product.Title</h2>
                            <div class="single-product-actions">
                                <button class="btn modal-add-to-cart add-to-cart-req">Add to cart</button>
                                <span class="price">@product.Price dkk</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>