<div class="12u recommendations-container">
    <div class="container">
        <div class="row">
            <div class="12u">
                <div class="recommendations-wrapper">
                    <h1>Customers recommendations</h1>
                    <div class="recommendations-slider">
                        <div class="item">
                            <div class="company-logo">
                                <img src="~/Content/images/rating.png" alt="i3a">
                            </div>
                            <blockquote>
                                <strong>Daniel Szerszn</strong>
                                WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
                            </blockquote>
                        </div>
                        <div class="item">
                            <div class="company-logo">
                                <img src="~/Content/images/rating.png" alt="i3a">
                            </div>
                            <blockquote>
                                <strong>Daniel Szerszn</strong>
                                WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
                            </blockquote>
                        </div>
                        <div class="item">
                            <div class="company-logo">
                                <img src="~/Content/images/rating.png" alt="i3a">
                            </div>
                            <blockquote>
                                <strong>Daniel Szerszn</strong>
                                WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>