<div class="12u size-guide" id="size-guide">
    <div class="container">
        <div class="row">
            <div class="12u">
                <h1>Size guide</h1>
            </div>
            <div class="4u 12u(medium)">
                <div class="size-guide-picture">
                    <div class="guide"></div>

                </div>
            </div>
            <div class="8u 12u(medium)">
                <div class="size-guide-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec nunc quam. Proin tincidunt placerat erat nec ornare. Aenean molestie diam sed mi tempor mattis. Vivamus in gravida nulla. Nullam vel rhoncus dolor, ut bibendum ligula. Nunc imperdiet, libero vitae pulvinar iaculis, nulla ex semper ex, vitae consectetur augue turpis et felis. Integer rutrum sit amet odio vel ultrices. Praesent porta, ipsum ut condimentum mollis,
                </div>
            </div>
        </div>
    </div>
</div>
