﻿@using FinalProject.Models
@model FinalProject.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Account.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.LastName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        
        <dt>
            Products:
        </dt>
        <dd>
            <ul>
                @foreach (Product product in ViewBag.products)
                {
                    if (product.Invoices.Contains(Model))
                    {
                        <li>Title: @product.Title Price: @product.Price Stock: @product.Stock</li>
                    }
                }
            </ul>

        </dd>
    </dl>
</div>
<p>
    <a href="/Accounts/Details/@Model.AccountId">View Buyer</a> |
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
