/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

.modal-image-wrapper img{
    width:100%;
    height: auto;
}

.product-image img{
    max-height:380px;
}
.product-image{
    min-height: 422px;
}
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Containers */
.container {
  margin-left: auto;
  margin-right: auto; }

.container.\31 25\25		{
  width: 100%;
  max-width: 1500px;
  min-width: 1200px; }

.container.\37 5\25			{
  width: 900px; }

.container.\35 0\25			{
  width: 600px; }

.container.\32 5\25			{
  width: 300px; }

.container {
  width: 1200px; }

@media screen and (max-width: 1680px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 1500px;
    min-width: 1200px; }
  .container.\37 5\25			{
    width: 900px; }
  .container.\35 0\25			{
    width: 600px; }
  .container.\32 5\25			{
    width: 300px; }
  .container {
    width: 1200px; } }

@media screen and (max-width: 1200px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 112.5%;
    min-width: 90%; }
  .container.\37 5\25			{
    width: 67.5%; }
  .container.\35 0\25			{
    width: 45%; }
  .container.\32 5\25			{
    width: 22.5%; }
  .container {
    width: 90%; } }

@media screen and (max-width: 980px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 112.5%;
    min-width: 90%; }
  .container.\37 5\25			{
    width: 67.5%; }
  .container.\35 0\25			{
    width: 45%; }
  .container.\32 5\25			{
    width: 22.5%; }
  .container {
    width: 90%; } }

@media screen and (max-width: 736px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 118.75%;
    min-width: 95%; }
  .container.\37 5\25			{
    width: 71.25%; }
  .container.\35 0\25			{
    width: 47.5%; }
  .container.\32 5\25			{
    width: 23.75%; }
  .container {
    width: 95% !important; } }

@media screen and (max-width: 480px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 122.5%;
    min-width: 98%; }
  .container.\37 5\25			{
    width: 73.5%; }
  .container.\35 0\25			{
    width: 49%; }
  .container.\32 5\25			{
    width: 24.5%; }
  .container {
    width: 98% !important; } }

/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.row.uniform > * > :first-child {
  margin-top: 0; }

.row.uniform > * > :last-child {
  margin-bottom: 0; }

.row.\30 \25 > * {
  padding: 0 0 0 0px; }

.row.\30 \25
{
  margin: 0 0 -1px 0px; }

.row.uniform.\30 \25 > * {
  padding: 0px 0 0 0px; }

.row.uniform.\30 \25
{
  margin: 0px 0 -1px 0px; }

.row > * {
  padding: 0 0 0 30px; }

.row {
  margin: 0 0 -1px -30px; }

.row.uniform > * {
  padding: 30px 0 0 30px; }

.row.uniform {
  margin: -30px 0 -1px -30px; }

.row.\32 00\25 > * {
  padding: 0 0 0 60px; }

.row.\32 00\25
{
  margin: 0 0 -1px -60px; }

.row.uniform.\32 00\25 > * {
  padding: 60px 0 0 60px; }

.row.uniform.\32 00\25
{
  margin: -60px 0 -1px -60px; }

.row.\31 50\25 > * {
  padding: 0 0 0 45px; }

.row.\31 50\25
{
  margin: 0 0 -1px -45px; }

.row.uniform.\31 50\25 > * {
  padding: 45px 0 0 45px; }

.row.uniform.\31 50\25
{
  margin: -45px 0 -1px -45px; }

.row.\35 0\25 > * {
  padding: 0 0 0 15px; }

.row.\35 0\25
{
  margin: 0 0 -1px -15px; }

.row.uniform.\35 0\25 > * {
  padding: 15px 0 0 15px; }

.row.uniform.\35 0\25
{
  margin: -15px 0 -1px -15px; }

.row.\32 5\25 > * {
  padding: 0 0 0 7.5px; }

.row.\32 5\25
{
  margin: 0 0 -1px -7.5px; }

.row.uniform.\32 5\25 > * {
  padding: 7.5px 0 0 7.5px; }

.row.uniform.\32 5\25
{
  margin: -7.5px 0 -1px -7.5px; }

.\31 2u, .\31 2u\24
{
  width: 100%;
  clear: none;
  margin-left: 0; }

.\31 1u, .\31 1u\24
{
  width: 91.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 0u, .\31 0u\24
{
  width: 83.3333333333%;
  clear: none;
  margin-left: 0; }

.\39 u, .\39 u\24
{
  width: 75%;
  clear: none;
  margin-left: 0; }

.\38 u, .\38 u\24
{
  width: 66.6666666667%;
  clear: none;
  margin-left: 0; }

.\37 u, .\37 u\24
{
  width: 58.3333333333%;
  clear: none;
  margin-left: 0; }

.\36 u, .\36 u\24
{
  width: 50%;
  clear: none;
  margin-left: 0; }

.\35 u, .\35 u\24
{
  width: 41.6666666667%;
  clear: none;
  margin-left: 0; }

.\34 u, .\34 u\24
{
  width: 33.3333333333%;
  clear: none;
  margin-left: 0; }

.\33 u, .\33 u\24
{
  width: 25%;
  clear: none;
  margin-left: 0; }

.\32 u, .\32 u\24
{
  width: 16.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 u, .\31 u\24
{
  width: 8.3333333333%;
  clear: none;
  margin-left: 0; }

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
  clear: left; }

.\-11u {
  margin-left: 91.6666666667%; }

.\-10u {
  margin-left: 83.3333333333%; }

.\-9u {
  margin-left: 75%; }

.\-8u {
  margin-left: 66.6666666667%; }

.\-7u {
  margin-left: 58.3333333333%; }

.\-6u {
  margin-left: 50%; }

.\-5u {
  margin-left: 41.6666666667%; }

.\-4u {
  margin-left: 33.3333333333%; }

.\-3u {
  margin-left: 25%; }

.\-2u {
  margin-left: 16.6666666667%; }

.\-1u {
  margin-left: 8.3333333333%; }

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 0 0 0 30px; }
  .row {
    margin: 0 0 -1px -30px; }
  .row.uniform > * {
    padding: 30px 0 0 30px; }
  .row.uniform {
    margin: -30px 0 -1px -30px; }
  .row.\32 00\25 > * {
    padding: 0 0 0 60px; }
  .row.\32 00\25
{
    margin: 0 0 -1px -60px; }
  .row.uniform.\32 00\25 > * {
    padding: 60px 0 0 60px; }
  .row.uniform.\32 00\25
{
    margin: -60px 0 -1px -60px; }
  .row.\31 50\25 > * {
    padding: 0 0 0 45px; }
  .row.\31 50\25
{
    margin: 0 0 -1px -45px; }
  .row.uniform.\31 50\25 > * {
    padding: 45px 0 0 45px; }
  .row.uniform.\31 50\25
{
    margin: -45px 0 -1px -45px; }
  .row.\35 0\25 > * {
    padding: 0 0 0 15px; }
  .row.\35 0\25
{
    margin: 0 0 -1px -15px; }
  .row.uniform.\35 0\25 > * {
    padding: 15px 0 0 15px; }
  .row.uniform.\35 0\25
{
    margin: -15px 0 -1px -15px; }
  .row.\32 5\25 > * {
    padding: 0 0 0 7.5px; }
  .row.\32 5\25
{
    margin: 0 0 -1px -7.5px; }
  .row.uniform.\32 5\25 > * {
    padding: 7.5px 0 0 7.5px; }
  .row.uniform.\32 5\25
{
    margin: -7.5px 0 -1px -7.5px; }
  .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29
{
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28xlarge\29, .\39 u\24\28xlarge\29
{
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28xlarge\29, .\38 u\24\28xlarge\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28xlarge\29, .\37 u\24\28xlarge\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28xlarge\29, .\36 u\24\28xlarge\29
{
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28xlarge\29, .\35 u\24\28xlarge\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28xlarge\29, .\34 u\24\28xlarge\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28xlarge\29, .\33 u\24\28xlarge\29
{
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28xlarge\29, .\32 u\24\28xlarge\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28xlarge\29, .\31 u\24\28xlarge\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28xlarge\29 + *,
  .\31 1u\24\28xlarge\29 + *,
  .\31 0u\24\28xlarge\29 + *,
  .\39 u\24\28xlarge\29 + *,
  .\38 u\24\28xlarge\29 + *,
  .\37 u\24\28xlarge\29 + *,
  .\36 u\24\28xlarge\29 + *,
  .\35 u\24\28xlarge\29 + *,
  .\34 u\24\28xlarge\29 + *,
  .\33 u\24\28xlarge\29 + *,
  .\32 u\24\28xlarge\29 + *,
  .\31 u\24\28xlarge\29 + * {
    clear: left; }
  .\-11u\28xlarge\29
{
    margin-left: 91.6666666667%; }
  .\-10u\28xlarge\29
{
    margin-left: 83.3333333333%; }
  .\-9u\28xlarge\29
{
    margin-left: 75%; }
  .\-8u\28xlarge\29
{
    margin-left: 66.6666666667%; }
  .\-7u\28xlarge\29
{
    margin-left: 58.3333333333%; }
  .\-6u\28xlarge\29
{
    margin-left: 50%; }
  .\-5u\28xlarge\29
{
    margin-left: 41.6666666667%; }
  .\-4u\28xlarge\29
{
    margin-left: 33.3333333333%; }
  .\-3u\28xlarge\29
{
    margin-left: 25%; }
  .\-2u\28xlarge\29
{
    margin-left: 16.6666666667%; }
  .\-1u\28xlarge\29
{
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 1200px) {
  .row > * {
    padding: 0 0 0 30px; }
  .row {
    margin: 0 0 -1px -30px; }
  .row.uniform > * {
    padding: 30px 0 0 30px; }
  .row.uniform {
    margin: -30px 0 -1px -30px; }
  .row.\32 00\25 > * {
    padding: 0 0 0 60px; }
  .row.\32 00\25
{
    margin: 0 0 -1px -60px; }
  .row.uniform.\32 00\25 > * {
    padding: 60px 0 0 60px; }
  .row.uniform.\32 00\25
{
    margin: -60px 0 -1px -60px; }
  .row.\31 50\25 > * {
    padding: 0 0 0 45px; }
  .row.\31 50\25
{
    margin: 0 0 -1px -45px; }
  .row.uniform.\31 50\25 > * {
    padding: 45px 0 0 45px; }
  .row.uniform.\31 50\25
{
    margin: -45px 0 -1px -45px; }
  .row.\35 0\25 > * {
    padding: 0 0 0 15px; }
  .row.\35 0\25
{
    margin: 0 0 -1px -15px; }
  .row.uniform.\35 0\25 > * {
    padding: 15px 0 0 15px; }
  .row.uniform.\35 0\25
{
    margin: -15px 0 -1px -15px; }
  .row.\32 5\25 > * {
    padding: 0 0 0 7.5px; }
  .row.\32 5\25
{
    margin: 0 0 -1px -7.5px; }
  .row.uniform.\32 5\25 > * {
    padding: 7.5px 0 0 7.5px; }
  .row.uniform.\32 5\25
{
    margin: -7.5px 0 -1px -7.5px; }
  .\31 2u\28large\29, .\31 2u\24\28large\29
{
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28large\29, .\31 1u\24\28large\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28large\29, .\31 0u\24\28large\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28large\29, .\39 u\24\28large\29
{
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28large\29, .\38 u\24\28large\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28large\29, .\37 u\24\28large\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28large\29, .\36 u\24\28large\29
{
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28large\29, .\35 u\24\28large\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28large\29, .\34 u\24\28large\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28large\29, .\33 u\24\28large\29
{
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28large\29, .\32 u\24\28large\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28large\29, .\31 u\24\28large\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28large\29 + *,
  .\31 1u\24\28large\29 + *,
  .\31 0u\24\28large\29 + *,
  .\39 u\24\28large\29 + *,
  .\38 u\24\28large\29 + *,
  .\37 u\24\28large\29 + *,
  .\36 u\24\28large\29 + *,
  .\35 u\24\28large\29 + *,
  .\34 u\24\28large\29 + *,
  .\33 u\24\28large\29 + *,
  .\32 u\24\28large\29 + *,
  .\31 u\24\28large\29 + * {
    clear: left; }
  .\-11u\28large\29
{
    margin-left: 91.6666666667%; }
  .\-10u\28large\29
{
    margin-left: 83.3333333333%; }
  .\-9u\28large\29
{
    margin-left: 75%; }
  .\-8u\28large\29
{
    margin-left: 66.6666666667%; }
  .\-7u\28large\29
{
    margin-left: 58.3333333333%; }
  .\-6u\28large\29
{
    margin-left: 50%; }
  .\-5u\28large\29
{
    margin-left: 41.6666666667%; }
  .\-4u\28large\29
{
    margin-left: 33.3333333333%; }
  .\-3u\28large\29
{
    margin-left: 25%; }
  .\-2u\28large\29
{
    margin-left: 16.6666666667%; }
  .\-1u\28large\29
{
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 980px) {
  .row > * {
    padding: 0 0 0 30px; }
  .row {
    margin: 0 0 -1px -30px; }
  .row.uniform > * {
    padding: 30px 0 0 30px; }
  .row.uniform {
    margin: -30px 0 -1px -30px; }
  .row.\32 00\25 > * {
    padding: 0 0 0 60px; }
  .row.\32 00\25
{
    margin: 0 0 -1px -60px; }
  .row.uniform.\32 00\25 > * {
    padding: 60px 0 0 60px; }
  .row.uniform.\32 00\25
{
    margin: -60px 0 -1px -60px; }
  .row.\31 50\25 > * {
    padding: 0 0 0 45px; }
  .row.\31 50\25
{
    margin: 0 0 -1px -45px; }
  .row.uniform.\31 50\25 > * {
    padding: 45px 0 0 45px; }
  .row.uniform.\31 50\25
{
    margin: -45px 0 -1px -45px; }
  .row.\35 0\25 > * {
    padding: 0 0 0 15px; }
  .row.\35 0\25
{
    margin: 0 0 -1px -15px; }
  .row.uniform.\35 0\25 > * {
    padding: 15px 0 0 15px; }
  .row.uniform.\35 0\25
{
    margin: -15px 0 -1px -15px; }
  .row.\32 5\25 > * {
    padding: 0 0 0 7.5px; }
  .row.\32 5\25
{
    margin: 0 0 -1px -7.5px; }
  .row.uniform.\32 5\25 > * {
    padding: 7.5px 0 0 7.5px; }
  .row.uniform.\32 5\25
{
    margin: -7.5px 0 -1px -7.5px; }
  .\31 2u\28medium\29, .\31 2u\24\28medium\29
{
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28medium\29, .\31 1u\24\28medium\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28medium\29, .\31 0u\24\28medium\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28medium\29, .\39 u\24\28medium\29
{
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28medium\29, .\38 u\24\28medium\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28medium\29, .\37 u\24\28medium\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28medium\29, .\36 u\24\28medium\29
{
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28medium\29, .\35 u\24\28medium\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28medium\29, .\34 u\24\28medium\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28medium\29, .\33 u\24\28medium\29
{
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28medium\29, .\32 u\24\28medium\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28medium\29, .\31 u\24\28medium\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28medium\29 + *,
  .\31 1u\24\28medium\29 + *,
  .\31 0u\24\28medium\29 + *,
  .\39 u\24\28medium\29 + *,
  .\38 u\24\28medium\29 + *,
  .\37 u\24\28medium\29 + *,
  .\36 u\24\28medium\29 + *,
  .\35 u\24\28medium\29 + *,
  .\34 u\24\28medium\29 + *,
  .\33 u\24\28medium\29 + *,
  .\32 u\24\28medium\29 + *,
  .\31 u\24\28medium\29 + * {
    clear: left; }
  .\-11u\28medium\29
{
    margin-left: 91.6666666667%; }
  .\-10u\28medium\29
{
    margin-left: 83.3333333333%; }
  .\-9u\28medium\29
{
    margin-left: 75%; }
  .\-8u\28medium\29
{
    margin-left: 66.6666666667%; }
  .\-7u\28medium\29
{
    margin-left: 58.3333333333%; }
  .\-6u\28medium\29
{
    margin-left: 50%; }
  .\-5u\28medium\29
{
    margin-left: 41.6666666667%; }
  .\-4u\28medium\29
{
    margin-left: 33.3333333333%; }
  .\-3u\28medium\29
{
    margin-left: 25%; }
  .\-2u\28medium\29
{
    margin-left: 16.6666666667%; }
  .\-1u\28medium\29
{
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 736px) {
  .row > * {
    padding: 0 0 0 30px; }
  .row {
    margin: 0 0 -1px -30px; }
  .row.uniform > * {
    padding: 30px 0 0 30px; }
  .row.uniform {
    margin: -30px 0 -1px -30px; }
  .row.\32 00\25 > * {
    padding: 0 0 0 60px; }
  .row.\32 00\25
{
    margin: 0 0 -1px -60px; }
  .row.uniform.\32 00\25 > * {
    padding: 60px 0 0 60px; }
  .row.uniform.\32 00\25
{
    margin: -60px 0 -1px -60px; }
  .row.\31 50\25 > * {
    padding: 0 0 0 45px; }
  .row.\31 50\25
{
    margin: 0 0 -1px -45px; }
  .row.uniform.\31 50\25 > * {
    padding: 45px 0 0 45px; }
  .row.uniform.\31 50\25
{
    margin: -45px 0 -1px -45px; }
  .row.\35 0\25 > * {
    padding: 0 0 0 15px; }
  .row.\35 0\25
{
    margin: 0 0 -1px -15px; }
  .row.uniform.\35 0\25 > * {
    padding: 15px 0 0 15px; }
  .row.uniform.\35 0\25
{
    margin: -15px 0 -1px -15px; }
  .row.\32 5\25 > * {
    padding: 0 0 0 7.5px; }
  .row.\32 5\25
{
    margin: 0 0 -1px -7.5px; }
  .row.uniform.\32 5\25 > * {
    padding: 7.5px 0 0 7.5px; }
  .row.uniform.\32 5\25
{
    margin: -7.5px 0 -1px -7.5px; }
  .\31 2u\28small\29, .\31 2u\24\28small\29
{
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28small\29, .\31 1u\24\28small\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28small\29, .\31 0u\24\28small\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28small\29, .\39 u\24\28small\29
{
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28small\29, .\38 u\24\28small\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28small\29, .\37 u\24\28small\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28small\29, .\36 u\24\28small\29
{
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28small\29, .\35 u\24\28small\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28small\29, .\34 u\24\28small\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28small\29, .\33 u\24\28small\29
{
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28small\29, .\32 u\24\28small\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28small\29, .\31 u\24\28small\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28small\29 + *,
  .\31 1u\24\28small\29 + *,
  .\31 0u\24\28small\29 + *,
  .\39 u\24\28small\29 + *,
  .\38 u\24\28small\29 + *,
  .\37 u\24\28small\29 + *,
  .\36 u\24\28small\29 + *,
  .\35 u\24\28small\29 + *,
  .\34 u\24\28small\29 + *,
  .\33 u\24\28small\29 + *,
  .\32 u\24\28small\29 + *,
  .\31 u\24\28small\29 + * {
    clear: left; }
  .\-11u\28small\29
{
    margin-left: 91.6666666667%; }
  .\-10u\28small\29
{
    margin-left: 83.3333333333%; }
  .\-9u\28small\29
{
    margin-left: 75%; }
  .\-8u\28small\29
{
    margin-left: 66.6666666667%; }
  .\-7u\28small\29
{
    margin-left: 58.3333333333%; }
  .\-6u\28small\29
{
    margin-left: 50%; }
  .\-5u\28small\29
{
    margin-left: 41.6666666667%; }
  .\-4u\28small\29
{
    margin-left: 33.3333333333%; }
  .\-3u\28small\29
{
    margin-left: 25%; }
  .\-2u\28small\29
{
    margin-left: 16.6666666667%; }
  .\-1u\28small\29
{
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 480px) {
  .row > * {
    padding: 0 0 0 30px; }
  .row {
    margin: 0 0 -1px -30px; }
  .row.uniform > * {
    padding: 30px 0 0 30px; }
  .row.uniform {
    margin: -30px 0 -1px -30px; }
  .row.\32 00\25 > * {
    padding: 0 0 0 60px; }
  .row.\32 00\25
{
    margin: 0 0 -1px -60px; }
  .row.uniform.\32 00\25 > * {
    padding: 60px 0 0 60px; }
  .row.uniform.\32 00\25
{
    margin: -60px 0 -1px -60px; }
  .row.\31 50\25 > * {
    padding: 0 0 0 45px; }
  .row.\31 50\25
{
    margin: 0 0 -1px -45px; }
  .row.uniform.\31 50\25 > * {
    padding: 45px 0 0 45px; }
  .row.uniform.\31 50\25
{
    margin: -45px 0 -1px -45px; }
  .row.\35 0\25 > * {
    padding: 0 0 0 15px; }
  .row.\35 0\25
{
    margin: 0 0 -1px -15px; }
  .row.uniform.\35 0\25 > * {
    padding: 15px 0 0 15px; }
  .row.uniform.\35 0\25
{
    margin: -15px 0 -1px -15px; }
  .row.\32 5\25 > * {
    padding: 0 0 0 7.5px; }
  .row.\32 5\25
{
    margin: 0 0 -1px -7.5px; }
  .row.uniform.\32 5\25 > * {
    padding: 7.5px 0 0 7.5px; }
  .row.uniform.\32 5\25
{
    margin: -7.5px 0 -1px -7.5px; }
  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29
{
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29
{
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29
{
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29
{
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28xsmall\29 + *,
  .\31 1u\24\28xsmall\29 + *,
  .\31 0u\24\28xsmall\29 + *,
  .\39 u\24\28xsmall\29 + *,
  .\38 u\24\28xsmall\29 + *,
  .\37 u\24\28xsmall\29 + *,
  .\36 u\24\28xsmall\29 + *,
  .\35 u\24\28xsmall\29 + *,
  .\34 u\24\28xsmall\29 + *,
  .\33 u\24\28xsmall\29 + *,
  .\32 u\24\28xsmall\29 + *,
  .\31 u\24\28xsmall\29 + * {
    clear: left; }
  .\-11u\28xsmall\29
{
    margin-left: 91.6666666667%; }
  .\-10u\28xsmall\29
{
    margin-left: 83.3333333333%; }
  .\-9u\28xsmall\29
{
    margin-left: 75%; }
  .\-8u\28xsmall\29
{
    margin-left: 66.6666666667%; }
  .\-7u\28xsmall\29
{
    margin-left: 58.3333333333%; }
  .\-6u\28xsmall\29
{
    margin-left: 50%; }
  .\-5u\28xsmall\29
{
    margin-left: 41.6666666667%; }
  .\-4u\28xsmall\29
{
    margin-left: 33.3333333333%; }
  .\-3u\28xsmall\29
{
    margin-left: 25%; }
  .\-2u\28xsmall\29
{
    margin-left: 16.6666666667%; }
  .\-1u\28xsmall\29
{
    margin-left: 8.3333333333%; } }

@font-face {
  font-family: "HKGrotesk";
  font-weight: 300;
  src: url("../fonts/HKGrotesk-Light.otf") format("opentype"); }

@font-face {
  font-family: "HKGrotesk";
  font-weight: 400;
  src: url("../fonts/HKGrotesk-Regular.otf") format("opentype"); }

@font-face {
  font-family: "HKGrotesk";
  font-weight: 600;
  src: url("../fonts/HKGrotesk-Medium.otf") format("opentype"); }

@font-face {
  font-family: "HKGrotesk";
  font-weight: 800;
  src: url("../fonts/HKGrotesk-Bold.otf") format("opentype"); }

@font-face {
  font-family: "dripicons-v2";
  src: url("../fonts/dripicons-v2.eot");
  src: url("../fonts/dripicons-v2.eot?#iefix") format("embedded-opentype"), url("../fonts/dripicons-v2.woff") format("woff"), url("../fonts/dripicons-v2.ttf") format("truetype"), url("../fonts/dripicons-v2.svg#dripicons-v2") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "dripicons-v2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="dripicons-"]:before,
[class*=" dripicons-"]:before {
  font-family: "dripicons-v2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.dripicons-alarm:before {
  content: "\61"; }

.dripicons-align-center:before {
  content: "\62"; }

.dripicons-align-justify:before {
  content: "\63"; }

.dripicons-align-left:before {
  content: "\64"; }

.dripicons-align-right:before {
  content: "\65"; }

.dripicons-anchor:before {
  content: "\66"; }

.dripicons-archive:before {
  content: "\67"; }

.dripicons-arrow-down:before {
  content: "\68"; }

.dripicons-arrow-left:before {
  content: "\69"; }

.dripicons-arrow-right:before {
  content: "\6a"; }

.dripicons-arrow-thin-down:before {
  content: "\6b"; }

.dripicons-arrow-thin-left:before {
  content: "\6c"; }

.dripicons-arrow-thin-right:before {
  content: "\6d"; }

.dripicons-arrow-thin-up:before {
  content: "\6e"; }

.dripicons-arrow-up:before {
  content: "\6f"; }

.dripicons-article:before {
  content: "\70"; }

.dripicons-backspace:before {
  content: "\71"; }

.dripicons-basket:before {
  content: "\72"; }

.dripicons-basketball:before {
  content: "\73"; }

.dripicons-battery-empty:before {
  content: "\74"; }

.dripicons-battery-full:before {
  content: "\75"; }

.dripicons-battery-low:before {
  content: "\76"; }

.dripicons-battery-medium:before {
  content: "\77"; }

.dripicons-bell:before {
  content: "\78"; }

.dripicons-blog:before {
  content: "\79"; }

.dripicons-bluetooth:before {
  content: "\7a"; }

.dripicons-bold:before {
  content: "\41"; }

.dripicons-bookmark:before {
  content: "\42"; }

.dripicons-bookmarks:before {
  content: "\43"; }

.dripicons-box:before {
  content: "\44"; }

.dripicons-briefcase:before {
  content: "\45"; }

.dripicons-brightness-low:before {
  content: "\46"; }

.dripicons-brightness-max:before {
  content: "\47"; }

.dripicons-brightness-medium:before {
  content: "\48"; }

.dripicons-broadcast:before {
  content: "\49"; }

.dripicons-browser:before {
  content: "\4a"; }

.dripicons-browser-upload:before {
  content: "\4b"; }

.dripicons-brush:before {
  content: "\4c"; }

.dripicons-calendar:before {
  content: "\4d"; }

.dripicons-camcorder:before {
  content: "\4e"; }

.dripicons-camera:before {
  content: "\4f"; }

.dripicons-card:before {
  content: "\50"; }

.dripicons-cart:before {
  content: "\51"; }

.dripicons-checklist:before {
  content: "\52"; }

.dripicons-checkmark:before {
  content: "\53"; }

.dripicons-chevron-down:before {
  content: "\54"; }

.dripicons-chevron-left:before {
  content: "\55"; }

.dripicons-chevron-right:before {
  content: "\56"; }

.dripicons-chevron-up:before {
  content: "\57"; }

.dripicons-clipboard:before {
  content: "\58"; }

.dripicons-clock:before {
  content: "\59"; }

.dripicons-clockwise:before {
  content: "\5a"; }

.dripicons-cloud:before {
  content: "\30"; }

.dripicons-cloud-download:before {
  content: "\31"; }

.dripicons-cloud-upload:before {
  content: "\32"; }

.dripicons-code:before {
  content: "\33"; }

.dripicons-contract:before {
  content: "\34"; }

.dripicons-contract-2:before {
  content: "\35"; }

.dripicons-conversation:before {
  content: "\36"; }

.dripicons-copy:before {
  content: "\37"; }

.dripicons-crop:before {
  content: "\38"; }

.dripicons-cross:before {
  content: "\39"; }

.dripicons-crosshair:before {
  content: "\21"; }

.dripicons-cutlery:before {
  content: "\22"; }

.dripicons-device-desktop:before {
  content: "\23"; }

.dripicons-device-mobile:before {
  content: "\24"; }

.dripicons-device-tablet:before {
  content: "\25"; }

.dripicons-direction:before {
  content: "\26"; }

.dripicons-disc:before {
  content: "\27"; }

.dripicons-document:before {
  content: "\28"; }

.dripicons-document-delete:before {
  content: "\29"; }

.dripicons-document-edit:before {
  content: "\2a"; }

.dripicons-document-new:before {
  content: "\2b"; }

.dripicons-document-remove:before {
  content: "\2c"; }

.dripicons-dot:before {
  content: "\2d"; }

.dripicons-dots-2:before {
  content: "\2e"; }

.dripicons-dots-3:before {
  content: "\2f"; }

.dripicons-download:before {
  content: "\3a"; }

.dripicons-duplicate:before {
  content: "\3b"; }

.dripicons-enter:before {
  content: "\3c"; }

.dripicons-exit:before {
  content: "\3d"; }

.dripicons-expand:before {
  content: "\3e"; }

.dripicons-expand-2:before {
  content: "\3f"; }

.dripicons-experiment:before {
  content: "\40"; }

.dripicons-export:before {
  content: "\5b"; }

.dripicons-feed:before {
  content: "\5d"; }

.dripicons-flag:before {
  content: "\5e"; }

.dripicons-flashlight:before {
  content: "\5f"; }

.dripicons-folder:before {
  content: "\60"; }

.dripicons-folder-open:before {
  content: "\7b"; }

.dripicons-forward:before {
  content: "\7c"; }

.dripicons-gaming:before {
  content: "\7d"; }

.dripicons-gear:before {
  content: "\7e"; }

.dripicons-graduation:before {
  content: "\5c"; }

.dripicons-graph-bar:before {
  content: "\e000"; }

.dripicons-graph-line:before {
  content: "\e001"; }

.dripicons-graph-pie:before {
  content: "\e002"; }

.dripicons-headset:before {
  content: "\e003"; }

.dripicons-heart:before {
  content: "\e004"; }

.dripicons-help:before {
  content: "\e005"; }

.dripicons-home:before {
  content: "\e006"; }

.dripicons-hourglass:before {
  content: "\e007"; }

.dripicons-inbox:before {
  content: "\e008"; }

.dripicons-information:before {
  content: "\e009"; }

.dripicons-italic:before {
  content: "\e00a"; }

.dripicons-jewel:before {
  content: "\e00b"; }

.dripicons-lifting:before {
  content: "\e00c"; }

.dripicons-lightbulb:before {
  content: "\e00d"; }

.dripicons-link:before {
  content: "\e00e"; }

.dripicons-link-broken:before {
  content: "\e00f"; }

.dripicons-list:before {
  content: "\e010"; }

.dripicons-loading:before {
  content: "\e011"; }

.dripicons-location:before {
  content: "\e012"; }

.dripicons-lock:before {
  content: "\e013"; }

.dripicons-lock-open:before {
  content: "\e014"; }

.dripicons-mail:before {
  content: "\e015"; }

.dripicons-map:before {
  content: "\e016"; }

.dripicons-media-loop:before {
  content: "\e017"; }

.dripicons-media-next:before {
  content: "\e018"; }

.dripicons-media-pause:before {
  content: "\e019"; }

.dripicons-media-play:before {
  content: "\e01a"; }

.dripicons-media-previous:before {
  content: "\e01b"; }

.dripicons-media-record:before {
  content: "\e01c"; }

.dripicons-media-shuffle:before {
  content: "\e01d"; }

.dripicons-media-stop:before {
  content: "\e01e"; }

.dripicons-medical:before {
  content: "\e01f"; }

.dripicons-menu:before {
  content: "\e020"; }

.dripicons-message:before {
  content: "\e021"; }

.dripicons-meter:before {
  content: "\e022"; }

.dripicons-microphone:before {
  content: "\e023"; }

.dripicons-minus:before {
  content: "\e024"; }

.dripicons-monitor:before {
  content: "\e025"; }

.dripicons-move:before {
  content: "\e026"; }

.dripicons-music:before {
  content: "\e027"; }

.dripicons-network-1:before {
  content: "\e028"; }

.dripicons-network-2:before {
  content: "\e029"; }

.dripicons-network-3:before {
  content: "\e02a"; }

.dripicons-network-4:before {
  content: "\e02b"; }

.dripicons-network-5:before {
  content: "\e02c"; }

.dripicons-pamphlet:before {
  content: "\e02d"; }

.dripicons-paperclip:before {
  content: "\e02e"; }

.dripicons-pencil:before {
  content: "\e02f"; }

.dripicons-phone:before {
  content: "\e030"; }

.dripicons-photo:before {
  content: "\e031"; }

.dripicons-photo-group:before {
  content: "\e032"; }

.dripicons-pill:before {
  content: "\e033"; }

.dripicons-pin:before {
  content: "\e034"; }

.dripicons-plus:before {
  content: "\e035"; }

.dripicons-power:before {
  content: "\e036"; }

.dripicons-preview:before {
  content: "\e037"; }

.dripicons-print:before {
  content: "\e038"; }

.dripicons-pulse:before {
  content: "\e039"; }

.dripicons-question:before {
  content: "\e03a"; }

.dripicons-reply:before {
  content: "\e03b"; }

.dripicons-reply-all:before {
  content: "\e03c"; }

.dripicons-return:before {
  content: "\e03d"; }

.dripicons-retweet:before {
  content: "\e03e"; }

.dripicons-rocket:before {
  content: "\e03f"; }

.dripicons-scale:before {
  content: "\e040"; }

.dripicons-search:before {
  content: "\e041"; }

.dripicons-shopping-bag:before {
  content: "\e042"; }

.dripicons-skip:before {
  content: "\e043"; }

.dripicons-stack:before {
  content: "\e044"; }

.dripicons-star:before {
  content: "\e045"; }

.dripicons-stopwatch:before {
  content: "\e046"; }

.dripicons-store:before {
  content: "\e047"; }

.dripicons-suitcase:before {
  content: "\e048"; }

.dripicons-swap:before {
  content: "\e049"; }

.dripicons-tag:before {
  content: "\e04a"; }

.dripicons-tag-delete:before {
  content: "\e04b"; }

.dripicons-tags:before {
  content: "\e04c"; }

.dripicons-thumbs-down:before {
  content: "\e04d"; }

.dripicons-thumbs-up:before {
  content: "\e04e"; }

.dripicons-ticket:before {
  content: "\e04f"; }

.dripicons-time-reverse:before {
  content: "\e050"; }

.dripicons-to-do:before {
  content: "\e051"; }

.dripicons-toggles:before {
  content: "\e052"; }

.dripicons-trash:before {
  content: "\e053"; }

.dripicons-trophy:before {
  content: "\e054"; }

.dripicons-upload:before {
  content: "\e055"; }

.dripicons-user:before {
  content: "\e056"; }

.dripicons-user-group:before {
  content: "\e057"; }

.dripicons-user-id:before {
  content: "\e058"; }

.dripicons-vibrate:before {
  content: "\e059"; }

.dripicons-view-apps:before {
  content: "\e05a"; }

.dripicons-view-list:before {
  content: "\e05b"; }

.dripicons-view-list-large:before {
  content: "\e05c"; }

.dripicons-view-thumb:before {
  content: "\e05d"; }

.dripicons-volume-full:before {
  content: "\e05e"; }

.dripicons-volume-low:before {
  content: "\e05f"; }

.dripicons-volume-medium:before {
  content: "\e060"; }

.dripicons-volume-off:before {
  content: "\e061"; }

.dripicons-wallet:before {
  content: "\e062"; }

.dripicons-warning:before {
  content: "\e063"; }

.dripicons-web:before {
  content: "\e064"; }

.dripicons-weight:before {
  content: "\e065"; }

.dripicons-wifi:before {
  content: "\e066"; }

.dripicons-wrong:before {
  content: "\e067"; }

.dripicons-zoom-in:before {
  content: "\e068"; }

.dripicons-zoom-out:before {
  content: "\e069"; }

/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

body {
  background: #f9fafc;
  position: relative;
  z-index: 0; }

.ui-menu {
  z-index: 20 !important; }

#product-search {
  z-index: 25; }

body, input, select, textarea {
  color: #25272f;
  font-family: HKGrotesk, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1em; }

a {
  color: #fa6e41;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

em, i {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1em; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: 1.66667rem; }

h2 {
  font-size: 1.75em;
  line-height: 1.5em; }

h3 {
  font-size: 15px;
  line-height: 1em; }

h4 {
  line-height: 1.5em; }

h5 {
  font-size: 0.9em;
  line-height: 1.5em; }

h6 {
  font-size: 0.7em;
  line-height: 1.5em; }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.text-light {
  font-weight: 300; }

.btn, .quantity {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: #fa6e41;
  padding: 1rem 1.33333rem;
  display: inline-block;
  color: #fff;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 30px; }
  .btn.fit, .fit.quantity {
    padding: 1em 5.33333em;
    width: 100%;
    position: absolute;
    bottom: 0; }
  .btn.gray, .gray.quantity {
    background: #f9fafc;
    border: 1px solid #e4ecf4;
    color: #a7abb8; }
  .btn.green, .green.quantity {
    background: #28d77c;
    border: 1px solid #28d77c;
    color: #fff; }
  .btn.red, .red.quantity {
    background: #f43454;
    border: 1px solid #f43454;
    color: #fff; }
  .btn.add-quantity, .add-quantity.quantity, .btn.remove-quantity, .remove-quantity.quantity {
    border-radius: 10px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 0.53333rem;
    padding: 0.66667rem; }
    .btn.add-quantity > i, .add-quantity.quantity > i, .btn.remove-quantity > i, .remove-quantity.quantity > i {
      width: 100%;
      height: 100%;
      position: relative; }
      .btn.add-quantity > i:before, .add-quantity.quantity > i:before, .btn.remove-quantity > i:before, .remove-quantity.quantity > i:before {
        line-height: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .btn.add-quantity:hover, .add-quantity.quantity:hover, .btn.remove-quantity:hover, .remove-quantity.quantity:hover {
      background: #FA5C29; }
  .btn.remove-quantity, .remove-quantity.quantity {
    margin-right: 0; }
  .btn.checkout-button, .checkout-button.quantity {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 1.1em;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background: #fa6e41; }
    .btn.checkout-button:hover, .checkout-button.quantity:hover {
      background: #FA5C29; }
      .btn.checkout-button:hover > i, .checkout-button.quantity:hover > i {
        right: 5.66667rem; }
    .btn.checkout-button > i, .checkout-button.quantity > i {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 6rem;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .btn.checkout-full-price, .checkout-full-price.quantity {
    border-radius: 0;
    background: #e4ecf4;
    color: #25272f;
    margin-bottom: 2.66667rem;
    padding: 0.66667rem;
    position: static;
    text-align: center;
    display: inline-block; }

.clear-filter {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  margin-left: -3.66667rem;
  z-index: 50;
  margin-top: 2px;
  background: none;
  color: #a7abb8;
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  .clear-filter:hover {
    color: #fa6e41; }

.clear-filter[disabled] {
  display: none; }

.add-to-cart-req {
  cursor: pointer; }

#confirm-pay {
  float: right; }

*:focus {
  outline: none;
  box-shadow: none; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* Firefox 18- */
input:focus::-moz-placeholder {
  color: transparent; }

/* Firefox 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* oldIE ;) */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #e4ecf4;
  color: #a7abb8;
  display: inline-block;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  width: 100%;
  padding: 1rem 1.33333rem;
  line-height: 1em;
  outline: none;
  position: relative;
  outline: 0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="email"][disabled],
  input[type="tel"][disabled],
  select[disabled],
  textarea[disabled] {
    background: #f9fafc; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  select:focus,
  textarea:focus {
    border-color: #fa6e41; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.main-navigation-wrapper {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 0;
  z-index: 999; }
  .main-navigation-wrapper .row {
    border-bottom: none !important; }

nav {
  position: relative; }
  nav:after {
    display: table;
    content: '';
    clear: both; }
  nav .main-navigation {
    float: right; }
    nav .main-navigation li {
      display: inline-block; }
      nav .main-navigation li > a {
        padding: 2.66667rem 2rem;
        font-weight: 600;
        display: block;
        color: #25272f;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid #fff; }
        nav .main-navigation li > a:hover {
          border-color: #fa6e41;
          color: #fa6e41;
          background: #f9fafc; }
  nav .shopping-cart {
    border-bottom: 2px solid #fa6e41;
    z-index: 5; }
    nav .shopping-cart:after {
      display: table;
      content: '';
      clear: both; }
    nav .shopping-cart a.open-shopping-cart {
      position: relative;
      background: #fa6e41;
      color: #fff;
      padding-left: 4.66667rem;
      border-bottom: none; }
      nav .shopping-cart a.open-shopping-cart:hover {
        background: #fa6e41;
        color: #fff;
        border-color: inherit; }
      nav .shopping-cart a.open-shopping-cart i {
        display: inline-block;
        padding: 0 1rem;
        font-size: 1.5em;
        position: absolute;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 1rem; }
    nav .shopping-cart.is-open {
      box-shadow: 0px 0px 77px -10px rgba(0,0,0,0.5);
      position: relative;
      z-index: 2; }
      nav .shopping-cart.is-open a.open-shopping-cart:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: #fa6e41;
        border-width: 10px;
        margin-left: -10px;
        z-index: 2; }
      nav .shopping-cart.is-open .cart-details {
        display: block; }
  nav .cart-details {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
    box-shadow: 0px 0px 75px -10px rgba(0,0,0,0.2);
    z-index: -1;
    right: 0;
    position: absolute;
    width: 16.66667rem;
    background: #fff; }
  nav h4 {
    margin: 1rem 0.66667rem 0.66667rem;
    font-weight: 600;
    width: 100%; }

.cart-product-list {
  border-top: 1px solid #e4ecf4;
  padding: 1.66667rem 1rem 1rem;
  max-height: 300px;
  overflow-y: auto; }
  .cart-product-list li {
    position: relative;
    color: #838794;
    border-bottom: 1px dotted #e4ecf4;
    width: 100%;
    padding: 0.66667rem 0; }
    .cart-product-list li .product-description {
      position: relative;
      top: 0.66667rem; }
    .cart-product-list li:last-child {
      border-bottom: none; }

.item-price {
  display: block;
  font-size: 12px;
  margin-top: 1rem;
  color: #a7abb8;
  text-align: left; }

.product-actions {
  background: #e4ecf4;
  display: inline-block;
  border-radius: 16px;
  padding: 0.2rem 0.33333rem 0.26667rem;
  margin-left: 0.66667rem;
  float: right; }
  .product-actions:after {
    display: table;
    content: '';
    clear: both; }

.current-quantity {
  position: relative;
  top: 0.33333rem;
  margin: 0 0.66667rem;
  font-weight: 800;
  display: inline-block;
  width: 1rem;
  border: none;
  padding: 0;
  background: transparent; }

.logo {
  width: 100%;
  display: block;
  text-align: left;
  position: relative;
  top: 1.33333rem; }

.open-menu {
  display: none; }

.mobile-cart-open {
  display: none; }

.cart-details.mobile {
  display: none; }

.slider {
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  margin-top: 6rem;
  position: relative; }
  .slider .motto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold; }
  .slider h2 {
    font-weight: 300;
    font-size: 20px; }

.product-search-wrapper {
  background: #fff;
  padding: 3.33333rem 0; }

.product-search h1 {
  width: 100%;
  text-align: center;
  color: #838794;
  font-weight: 300;
  font-size: 1.33333rem; }

.product-search h2 {
  font-size: 1.06667rem;
  padding: 0.66667rem 0;
  color: #a7abb8;
  font-weight: 300;
  width: 100%;
  text-align: center; }

.search-tool {
  margin: 0;
  text-align: center;
  position: relative; }
  .search-tool input {
    max-width: 20rem;
    width: 100%;
    position: relative;
    z-index: 2;
    background: #fff; }
  .search-tool .clear-filter[disabled] {
    background: #e4ecf4; }

.ui-autocomplete {
  position: absolute;
  background: #f9fafc;
  padding-top: 2rem;
  padding-bottom: 150px;
  display: block;
  top: -2rem !important;
  bottom: 0;
  z-index: 0; }

.ui-menu-item {
  text-align: left;
  background: #f9fafc;
  padding: 0.66667rem 1rem;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative; }
  .ui-menu-item:hover {
    background: #e4ecf4;
    color: #fa6e41; }
  .ui-menu-item:last-child:after {
    content: '';
    position: absolute;
    bottom: -1rem;
    background: #f9fafc;
    border-bottom: 1px solid #e4ecf4;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 1rem; }

.search-tool-list {
  position: relative;
  width: 100%;
  display: block; }

.clearfix {
  display: block;
  position: relative;
  width: 1px;
  height: 1px; }

.products-wrapper {
  margin: 2rem 0 0; }
  .products-wrapper > div:nth-child(1) {
    padding-left: 0 !important; }
  .products-wrapper.row .container > .row {
    margin-bottom: 2rem; }
    .products-wrapper.row .container > .row:last-child {
      margin-bottom: 0; }

.product {
  box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.2);
  margin: 0 auto;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
  padding: 1.66667rem;
  margin-bottom: 2rem; }
  .product img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 2.33333rem; }
  .product .single-product-actions {
    margin-top: 1.66667rem;
    text-align: center; }
    .product .single-product-actions:after {
      display: table;
      content: '';
      clear: both; }
    .product .single-product-actions .btn, .product .single-product-actions .quantity {
      padding: 0.66667rem 1rem; }
    .product .single-product-actions .product-actions {
      border-radius: 30px;
      position: relative;
      top: -0.33333rem; }
    .product .single-product-actions .modal-add-to-cart {
      float: left; }
  .product h2 {
    width: 100%;
    margin: 1rem 0 -0.66667rem 0;
    background: #f9fafc;
    padding: 0.2rem 0;
    text-align: center;
    color: #838794;
    font-weight: 300;
    font-size: 1.2rem; }
  .product .more-details {
    float: left; }
  .product .price {
    padding: 0.66667rem;
    display: inline-block;
    background: #fff;
    border-radius: 30px;
    font-weight: 800;
    color: #fa6e41;
    margin-bottom: 1px;
    float: right;
    font-size: 1.33333rem; }

.product-image {
  position: relative;
  padding: 1.33333rem 0; }
  .product-image:after {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: 'See more details';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-weight: 300;
    color: #fff;
    font-size: 1.33333rem;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 0.66667rem;
    display: inline-block;
    width: 13.33333rem;
    text-align: center;
    cursor: pointer; }
  .product-image:before {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    background: #25272f;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    opacity: 0; }

.product-image:hover:after, .product-image:hover:before {
  opacity: 0.8; }

.size-guide h1 {
  text-align: center;
  margin: 2rem;
  font-size: 1.2rem;
  color: #838794; }

.guide {
  left: 6.66667rem;
  height: 13.33333rem;
  margin: 2rem 1.33333rem;
  width: 10rem;
  background: #e4ecf4;
  position: relative;
  padding: 15px;
  opacity: 0.8; }
  .guide:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -1rem;
    width: 90%;
    height: 90%;
    content: 'Width: 88mm Height: 99mm';
    z-index: -1;
    background: #25272f;
    color: #fff;
    opacity: 0.8;
    padding: 0.33333rem; }

.size-guide-text {
  margin-top: 4.66667rem;
  padding: 0.66667rem 8rem 0.66667rem 0; }

.recommendations-container {
  background: #f9fafc;
  margin-bottom: 2rem; }
  .recommendations-container h1 {
    width: 100%;
    text-align: center;
    color: #838794;
    font-weight: 300;
    font-size: 1.33333rem;
    padding-top: 2rem; }

.owl-item {
  width: 100%;
  height: auto;
  display: inline-block;
  float: left;
  position: relative;
  color: #fff;
  padding: 2rem 14rem; }

.recommendations-slider, .checkout-slider {
  width: 100%;
  overflow: hidden;
  color: #fff;
  text-align: left; }
  .recommendations-slider strong, .checkout-slider strong {
    display: block;
    padding-bottom: 0.33333rem; }

.company-logo {
  position: relative;
  float: left;
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 1px solid #e4ecf4;
  padding-bottom: 0.66667rem; }
  .company-logo:after {
    display: table;
    content: '';
    clear: both; }
  .company-logo img {
    opacity: 0.5;
    display: inline-block;
    margin-top: 1rem;
    max-width: 10rem;
    height: auto; }

.company-title {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase; }

.owl-nav {
  display: none; }

blockquote {
  text-align: justify;
  padding: 0.33333rem 0 1rem;
  color: #a7abb8; }

.remodal {
  max-width: 53.33333rem;
  color: #838794; }
  .remodal p {
    padding-left: 2rem;
    margin-bottom: 3.33333rem;
    line-height: 1.5em;
    text-align: justify; }
  .remodal h1 {
    text-align: left;
    margin-left: 2rem;
    color: #25272f;
    font-size: 18px;
    padding-bottom: 0.66667rem;
    border-bottom: 1px solid #e4ecf4;
    margin-bottom: 0.66667rem; }
  .remodal .btn, .remodal .quantity {
    cursor: pointer; }

.modal-image-wrapper {
  text-align: center;
  padding-top: 2.33333rem; }

.quantity {
  width: 3.33333rem;
  background: #e4ecf4;
  color: #25272f; }

.quantity-more {
  margin-right: 1rem; }

.quantity-more, .quantity-less {
  cursor: pointer;
  display: inline-block;
  padding: 0.33333rem;
  color: #fa6e41;
  border-radius: 50%; }

.modal-add-to-cart {
  text-align: left;
  padding-left: 2rem; }

.fake-thumbnails {
  opacity: 0.8;
  margin-top: 2rem;
  display: inline-block; }

.steps-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem; }

.step:first-child {
  min-width: 0;
  width: 0;
  flex-grow: 0; }

.step {
  height: 3px;
  background: #e4ecf4;
  flex-grow: 1;
  min-width: 25%;
  position: relative;
  margin: 3.33333rem 0 0; }
  .step:after {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    content: '';
    right: -1px;
    width: 1.33333rem;
    height: 1.33333rem;
    background: #e4ecf4;
    z-index: 2; }
  .step:before {
    position: absolute;
    content: attr(data-step-name);
    color: #a7abb8;
    top: -2rem;
    right: 0;
    transform: translate(35%, 0); }
  .step.active {
    background: #28d77c; }
    .step.active:after {
      background: #28d77c; }

.checkout-slider {
  color: #838794;
  margin: 3.33333rem 0 0; }
  .checkout-slider label {
    margin-left: 0.66667rem;
    display: block;
    color: #838794;
    margin-bottom: 0.66667rem;
    margin-top: 2rem; }
  .checkout-slider .owl-item {
    padding: 0; }
    .checkout-slider .owl-item:after {
      display: table;
      content: '';
      clear: both; }
  .checkout-slider .owl-stage:after {
    display: table;
    content: '';
    clear: both; }
  .checkout-slider table {
    width: 100%;
    text-align: center; }
    .checkout-slider table th {
      background: #e4ecf4;
      padding: 1rem 0.66667rem;
      color: #25272f; }
    .checkout-slider table td {
      color: #838794;
      padding: 1rem 0.66667rem; }
    .checkout-slider table tr:nth-child(even) {
      background: #f9fafc; }

[data-step="1"] {
  max-height: 500px;
  overflow-y: auto; }

.checkout-summary {
  text-align: left; }
  .checkout-summary th:last-child {
    text-align: center; }

.checkout-cart-actions {
  margin-top: 3.33333rem; }
  .checkout-cart-actions:after {
    display: table;
    content: '';
    clear: both; }
  .checkout-cart-actions .go-to-next-step {
    float: right;
    margin-right: 2px; }
  .checkout-cart-actions .go-step-back, .checkout-cart-actions .go-step-back-to-shopping {
    float: left; }

.separator {
  height: 1px;
  width: 100%;
  margin: 2rem 0 0;
  background: #e4ecf4; }

.item-wrapper {
  width: 98%;
  margin-right: 2px; }

.payment {
  padding-right: 2px; }

#checkout-modal input, #checkout-modal select {
  border-radius: 5px; }

.confirmation {
  color: #838794; }
  .confirmation h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  .confirmation .order-detail {
    position: relative;
    min-height: 14.66667rem;
    border: 1px solid #e4ecf4;
    padding: 1rem; }
    .confirmation .order-detail ul {
      margin-top: 1.33333rem; }
    .confirmation .order-detail li {
      margin-bottom: 0.33333rem; }
    .confirmation .order-detail:last-child {
      margin-top: 1.33333rem; }
  .confirmation .total-order-price, .confirmation h4 {
    padding: 0.66667rem 0;
    background: #f9fafc;
    font-weight: bold;
    text-align: center; }
  .confirmation .total-order-price {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0; }
  .confirmation .qt {
    display: inline-block;
    padding-right: 0.33333rem; }

.privacy {
  text-align: center;
  width: 100%;
  display: block;
  margin: 1.33333rem; }

.success-modal {
  text-align: center; }
  .success-modal img {
    display: inline-block;
    margin: 1.33333rem 0;
    padding: 0 40%;
    width: 100%;
    height: auto; }
  .success-modal h1 {
    font-size: 1.5em;
    color: #28d77c;
    text-align: center; }
  .success-modal h3 {
    margin-top: 1.33333rem;
    padding-left: 2rem; }

.iziToast-wrapper {
  z-index: 99999 !important; }

.iziToast > .iziToast-body > p {
  color: #fff !important; }

.required-field {
  color: #f43454;
  font-weight: bold; }

footer {
  padding: 2rem 0;
  background: #fff;
  color: #838794;
  font-size: 0.86667rem;
  font-weight: 300; }
  footer a {
    color: inherit;
    -moz-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }
    footer a:hover {
      color: #25272f; }
  footer h3 {
    font-size: 1.46667rem;
    padding-bottom: 1rem;
    color: #25272f; }
  footer .delivery {
    padding-right: 2.66667rem; }
  footer .copyright {
    text-align: center;
    color: #a7abb8;
    padding-top: 2rem;
    width: 100%; }

label.error {
  position: absolute;
  right: 0;
  top: 0;
  color: #f43454; }

input.error, select.error {
  border-color: #f43454 !important; }

.input-wrapper {
  position: relative; }

@media screen and (max-width: 1200px) {
  .open-menu {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: block;
    font-size: 2rem;
    cursor: pointer; }
  .main-navigation {
    position: absolute;
    z-index: 9999;
    background: #fff;
    left: 0;
    top: 5.33333rem;
    width: 100%; }
    .main-navigation li {
      display: block !important;
      float: none;
      width: 100%;
      text-align: center; }
    .main-navigation .shopping-cart {
      display: none !important; }
  .main-navigation {
    display: none; }
  .logo {
    height: 5.33333rem; }
  nav {
    position: static; }
  .mobile-cart-open {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 6.66667rem;
    top: 1.2rem; }
    .mobile-cart-open i {
      display: inline-block;
      margin-right: 1rem;
      font-size: 2rem;
      position: relative;
      top: 0.66667rem; }
    .mobile-cart-open .amount-of-products {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      background: #fa6e41;
      color: #fff;
      display: inline-block;
      line-height: 2rem;
      text-align: center; }
  .cart-details.mobile {
    position: relative;
    margin-bottom: 2rem; } }

@media screen and (max-width: 980px) {
  footer .row > div {
    margin-bottom: 2rem; }
  .modal-image-wrapper img {
    display: block;
    margin: 0 auto; }
  .modal-image-wrapper .fake-thumbnails {
    margin-top: 2rem; }
  .modal-product-content h1 {
    margin-left: 0; }
  .modal-product-content .modal-add-to-cart, .modal-product-content p {
    padding: 0; }
  .guide {
    margin: 0 auto !important;
    left: initial; }
  .size-guide-text {
    padding: 0;
    margin: 2rem 1rem; }
  .main-navigation-wrapper > div > .container > .row > div {
    padding-left: 0; }
  .space-div {
    margin-top: 1.33333rem; } }

@media screen and (max-width: 736px) {
  .recommendations-container {
    display: none; }
  .remodal-wrapper {
    padding: 0; }
  .remodal {
    margin-bottom: 0; }
  .logo img {
    width: 35%;
    height: auto; }
  .fake-thumbnails {
    width: 95%;
    height: auto;
    display: inline-block;
    margin-bottom: 1rem !important; }
  .step:before {
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -moz-transform: translate(90%,11px) rotate(-45deg);
    -webkit-transform: translate(90%,11px) rotate(-45deg);
    -ms-transform: translate(90%,11px) rotate(-45deg);
    transform: translate(90%,11px) rotate(-45deg);
    font-size: 12px; } }
